ul.social-network {
    list-style: none;
    padding: 0;
}

ul.social-network li {
    display: inline;
    margin: 0;
    padding: 5px;
}

.fab {
    font-size: 35pt;
    color: white;
    padding: 10px;
}

.fa-twitter:hover {
    color: rgb(23, 156, 40);
}

.fa-instagram:hover {
    color: rgb(23, 156, 40);
} 


.fa-facebook-square:hover {
    color: rgb(23, 156, 40);
}